@use '../../app' as *;

.accordeon {
  width: 100%;
}

.accordeon-item {
  overflow: hidden;
  color: $chumbo;

  &:not(:last-child) {
    /*border-bottom: 1px solid $gray-2;*/
    border-top: 1px solid $white;
    ;
  }

  &:last-child {
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;
  }

  .accordeon-title {
    padding: 1rem;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    transition: .25s ease;

    .icon {
      transition: .25s ease;

      svg {

        path,
        rect,
        circle {
          stroke: $white;
          fill: $white;
          /* Cor padrão do ícone */
        }
      }
    }

    &.open {
      color: $green-1;

      .icon {
        transform: rotate(180deg);
        ;

        svg {

          path,
          rect,
          circle {
            stroke: $green-1;
          }
        }
      }
    }
  }

  .accordeon-content {
    padding: 0 1rem 1rem 1rem;
    font-size: .875rem;
  }
}