@use '../../app' as *;

.logo {
    background-color: #f9ede0;
}

.about-section {
    border-bottom: 6px solid $anil;
    padding-bottom: 1rem;

    .about {
        display: flex;
        align-items: center;
        color: $indigo;
        font-size: $big-font;

        span {
            color: $anil;
            font-weight: bold;
        }

        .title {
            font-size: $super-big-font;
            margin-bottom: 15px;
        }

        .about-text {
            display: flex;
            gap: 50px;

            .column {
                flex: 1;
                text-align: justify;
            }
        }
    }
}