@use '../../app' as *;

.width-limiter {
    max-width: 991px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.sobre {
    padding: 5rem 2rem;

    @media screen and (max-width: 500px) {
        padding: 2rem;
    }

    background-color: #d6e6f8;

    .content {
        display: flex;
        flex-direction: column;
        color: $indigo;
        font-size: $big-font;

        span {
            color: $anil;
            font-weight: bold;
        }

        .title {
            font-size: $super-big-font;
            margin-bottom: 15px;
        }
    }
}

.dash {
    padding: 2rem;
    /* width: 100%; */

    .dash-inner {
        display: flex;

        @media screen and (max-width: 500px) {
            justify-content: center;
        }

        gap: 10px;

        .title {
            font-size: $super-big-font;
            color: $indigo;
            font-weight: bold;
        }

        .big-numbers {
            display: flex;

            gap: 10px;
            margin-top: 10px;

            @media screen and (max-width: 500px) {
                flex-direction: column;
            }

            .box-with-image {
                display: flex;
                align-items: center;
                flex: 1;

                .box {
                    background-color: $cristal;
                    /* Cor azul */
                    border-radius: 15px;
                    /* Bordas arredondadas */
                    padding: 20px 10px;
                    width: 110px;
                    height: 100px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    &.box-1 {
                        width: 220px;
                    }

                    .number {
                        font-size: 48px;
                        /* Tamanho maior para o número */
                        font-weight: bold;
                        color: $indigo;
                    }

                    .text {
                        font-size: 18px;
                        color: $indigo;
                    }

                    @media screen and (max-width: 500px) {
                        width: 220px;
                    }
                }
            }
        }
    }
}

.diagrams {
    display: flex;
    flex-direction: column;
    text-align: center;

    @media screen and (max-width: 500px) {
        padding: 5rem 2rem;
        font-family: "Poppins";
    }

    &>div {
        width: 100%;
    }

    .d1 {
        padding-top: 15px;
        padding-bottom: 50px;
        box-shadow: 0 20px 20px -20px #eee;
    }

    .d2 {
        padding-top: 70px;
        padding-bottom: 50px;
        box-shadow: 0 20px 20px -20px #eee;
    }

    .d3 {
        margin-top: 50px;
        margin-bottom: 25px;
        padding-bottom: 50px;
        box-shadow: 0 20px 20px -20px #eee;

        .title-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $indigo;
            border-radius: $border-radius-big;
            font-size: $big-font;
            margin: 0 10vw;
            margin-bottom: 10px;
            max-width: 800px;
            margin-left: -100px;

            padding: 8px 20px;
            color: $white;

            @media screen and (max-width: 500px) {
                padding-left: 70px;
            }
        }

        .texto,
        .dimensoes {

            color: $indigo;
            font-size: $big-font;
            text-align: left;

            span {
                color: $anil;
                font-weight: bold;
            }
        }

        .dimensoes {
            .dimensao {
                .title {
                    font-weight: bold;
                    margin: 10px 0;
                }

                .indicador {
                    display: flex;
                    gap: 5px;
                    font-size: 0.9rem;
                }
            }
        }
    }
}