@use '../../app' as *;

.map_container {
  position: relative;

  .map_menu_button {
    position: absolute;
    z-index: 700;
    bottom: 40px;
    right: 20px;
    background-color: $white;
    padding: 4px;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
  }

  .map_menu {
    position: absolute;
    z-index: 800;
    height: 70vh;
    background-color: $cristal;
    width: 100vw;
    opacity: 1;

    transform: translate(100%, 0);
    transition: .5s ease;

    &.open {
      transform: translate(0, 0);
    }

    .menu_header {
      display: flex;
      justify-content: space-between;
      padding: 1px 12px 1px 6px;
      background-color: $anil;
      font-weight: bold;
      color: $white;
      align-items: center;

      .close {
        cursor: pointer;
        border: solid 1px $white;
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-top: -1px;
      }
    }

    ul.options {
      list-style: none;
      margin: 10px;
      padding-left: 0;

      li {
        font-size: 15px;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1px;

        &.active {
          font-weight: 500;
        }

        .enter {
          cursor: pointer;
        }
      }

      li:nth-child(odd) {
        background-color: $unknown;
        color: black;
      }
    }
  }
}

.perspectivas {
  padding: 2rem;
  padding-bottom: 0;
  text-align: center;
  /* width: 100%; */

  .width-limiter {
    max-width: 991px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title-container {
      flex: 1;
      text-align: left;
      padding-right: 2rem;

      .perspectivas-1 {
        font-size: 3.5rem;
        line-height: 50px;
        color: #051e59;
      }

      .perspectivas-2 {
        font-size: 2rem;
        color: #051e59;
      }
    }
  }

}

.container {
  position: relative;
  margin-bottom: 60px;
}

.map-container {
  flex-grow: 1 !important;
  z-index: 1;
  position: relative;
  height: 100vh;

  @media screen and (max-width: 500px) {
    height: 70vh;
  }

  &>div {
    width: 100%;
    height: 100vh;

    @media screen and (max-width: 500px) {
      height: 70vh;
    }
  }
}

.perspective-access {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  margin: 4rem;

  button {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    color: $white;
    border: 0;
    border-radius: $border-radius-big;
    background-color: $indigo;
    font-size: $less-than-medium-font;
    font-family: 'Poppins';
    padding: 8px 20px;
    min-width: 200px;
    cursor: pointer;

    &:hover {
      background-color: $anil;
    }
  }
}

.perspective_panel {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  position: absolute;
  margin: 4rem;
  z-index: 1;
  top: 0;
  gap: 5px;

  .title_bar {
    display: flex;
    height: 100%;
    width: 24px;
    background-color: $indigo;
    align-items: center;
    justify-content: center;

    img {
      width: 20px;
    }
  }

  .perspective_panel_options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;

    .perspective_container {
      display: flex;

      .acessar {
        visibility: hidden;
        width: 100px;

        background-color: $anil;

        .acessar_button {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 5px;

          cursor: pointer;

          margin-left: 10px;
          width: 80px;
          height: calc(100% - 40px);
          background-color: #344876;
          color: $white;
          border-radius: 10px;
          /* opacity: 0.8; */
          padding: 20px;
          font-size: 0.8rem;
          font-weight: 600;
        }
      }

      // &:hover:not(.disabled) {
      //   .acessar {
      //     visibility: visible;
      //   }
      // }

      &.active {
        .acessar {
          visibility: visible;
        }
      }

      .perspective {
        display: flex;
        color: #fff;
        cursor: pointer;
        width: 150px;
        height: 100px;
        background-color: $anil;
        opacity: 0.8;
        font-size: 0.8rem;
        font-weight: 600;
        padding: 15px;
        align-items: center;
        text-align: center;

        &:hover {
          background-color: $indigo;
        }

        &.disabled {
          cursor: default;
          background-color: #4a616d;
          color: #9da7ad;
        }
      }

      &.active {
        .perspective {
          background-color: $indigo;
        }
      }

    }
  }
}


.enquadramentos {
  margin-left: 20px;
  min-width: 30vw;
}