@use '../../app' as *;

.container {
  position: relative;
  margin-bottom: 60px;
}

.map-container {
  flex-grow: 1 !important;
  z-index: 1;
  position: relative;
  height: 100vh;

  &>div {
    width: 100%;
    height: 100vh;
  }
}

.perspective-access {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  margin: 4rem;

  button {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    color: $white;
    border: 0;
    border-radius: $border-radius-big;
    background-color: $indigo;
    font-size: $less-than-medium-font;
    font-family: 'Poppins';
    padding: 8px 20px;
    min-width: 200px;
    cursor: pointer;

    &:hover {
      background-color: $anil;
    }
  }
}

.perspective_panel {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  position: absolute;
  margin: 4rem;
  z-index: 1;
  top: 0;
  gap: 5px;

  .title_bar {
    display: flex;
    height: 100%;
    width: 24px;
    background-color: $indigo;
    align-items: center;
    justify-content: center;

    img {
      width: 20px;
    }
  }

  .perspective_panel_options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;

    .perspective_container {
      display: flex;

      .acessar {
        visibility: hidden;
        width: 100px;

        background-color: $anil;

        .acessar_button {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 5px;

          cursor: pointer;

          margin-left: 10px;
          width: 80px;
          height: calc(100% - 40px);
          background-color: #344876;
          color: $white;
          border-radius: 10px;
          /* opacity: 0.8; */
          padding: 20px;
          font-size: 0.8rem;
          font-weight: 600;
        }
      }

      // &:hover:not(.disabled) {
      //   .acessar {
      //     visibility: visible;
      //   }
      // }

      &.active {
        .acessar {
          visibility: visible;
        }
      }

      .perspective {
        display: flex;
        color: #fff;
        cursor: pointer;
        width: 150px;
        height: 100px;
        background-color: $anil;
        opacity: 0.8;
        font-size: 0.8rem;
        font-weight: 600;
        padding: 15px;
        align-items: center;
        text-align: center;

        &:hover {
          background-color: $indigo;
        }

        &.disabled {
          cursor: default;
          background-color: #4a616d;
          color: #9da7ad;
        }
      }

      &.active {
        .perspective {
          background-color: $indigo;
        }
      }

    }
  }
}


.enquadramentos {
  margin-left: 20px;
  min-width: 30vw;
}