.legend {
    position: absolute;
    right: 10%;
    bottom: 10%;

    @media screen and (max-width: 500px) {
        right: 0%;
        bottom: 12%;
        transform: scale(0.8);
    }

    z-index: 10000;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 1px 5px;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 10px;

    font-family: 'Poppins';
    font-weight: 600;

    .title {
        margin-bottom: 5px;
        border-bottom: solid 1px #999;
    }
}
