@use "../../app" as *;

.iniciativas-about {
    display: flex;
    flex-direction: column;

    color: $indigo;
    font-size: $big-font;

    span {
        color: $anil;
        font-weight: bold;
    }

    .title {
        font-size: $super-big-font;
        margin-bottom: 15px;
    }
}

.diagrams {
    display: flex;
    flex-direction: column;
    text-align: center;

    & > div {
        width: 100%;
    }

    .d1 {
        padding-top: 15px;
        padding-bottom: 50px;
        box-shadow: 0 20px 20px -20px #eee;
    }

    .d2 {
        padding-top: 70px;
        padding-bottom: 50px;
        box-shadow: 0 20px 20px -20px #eee;
    }

    .d3 {
        margin-top: 50px;
        margin-bottom: 25px;
        padding-bottom: 50px;
        box-shadow: 0 20px 20px -20px #eee;

        .title-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $indigo;
            border-radius: $border-radius-big;
            font-size: $big-font;
            margin: 0 10vw;
            margin-bottom: 10px;
            max-width: 800px;
            margin-left: -100px;

            padding: 8px 20px;
            color: $white;
        }

        .texto {
            color: $indigo;
            font-size: $big-font;
            text-align: left;

            span {
                color: $anil;
                font-weight: bold;
            }
        }
    }
}

.ciea-dash {
    padding: 2rem;
    /* width: 100%; */

    .ciea-dash-inner {
        display: flex;
        gap: 10px;
        align-items: center;

        .title {
            font-size: $super-big-font;
            color: $indigo;
            font-weight: bold;
            min-width: 50vh;

            @media screen and (max-width: 500px) {
                max-width: 80vw;
                min-width: 80vw;
                text-align: center;
            }
        }

        .big-numbers {
            display: flex;
            gap: 10px;
            margin-top: 10px;
            align-items: center;

            .box-with-image {
                display: flex;
                align-items: center;
                flex: 1;

                .box {
                    background-color: $cristal;
                    /* Cor azul */
                    border-radius: 15px;
                    /* Bordas arredondadas */
                    padding: 20px 10px;
                    width: 110px;
                    height: 50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    &.box-1 {
                        width: 200px;
                        height: 150px;
                        text-align: center;
                    }

                    .number {
                        font-size: 48px;
                        /* Tamanho maior para o número */
                        font-weight: bold;
                        color: $indigo;
                    }

                    .text {
                        text-align: center;
                        font-size: $medium-font;
                        color: $indigo;
                    }
                }
            }

            .second {
                display: flex;
                flex-direction: column;
                gap: 15px;

                .box-with-image {
                    .box {
                        .number {
                            font-size: 28px;
                        }

                        .text {
                            font-size: $small-font;
                        }
                    }
                }
            }
        }
    }
}
